API_BASE_URL=https://api.themoviedb.org
API_VERSION=3
API_KEY=

# FIREBASE CONFIG

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDERID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
